<section id="edit-post-wrapper" class="container d-flex p-1 justify-content-center flex-column mt-2">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="text-center">Edit This Post</h2>
  <!--edit post form-->
  <form id="edit-post-form" class="container d-flex p-1 justify-content-center flex-column border border-light rounded p-2 mb-3">
    <div>
      <label for="post-title" class="form-label">Post Title</label>
      <input type="text" name="post-title" id="post-title" class="form-control mb-3" value="{{post.title}}"/>
    </div>

    <div>
      <label for="post-content" class="form-label">Content</label>
      <textarea id="post-content" name="post-content" class="form-control textarea mb-4" placeholder="{{post.content}}"></textarea>
    </div>
    <div class="d-flex justify-content-between">
      <button id="edit-submit-button" class="btn btn-primary" type="submit">Submit</button>
      <button id="delete-post-button" class="btn btn-danger">Delete</button>

    </div>
  </form>

  <!--comment form and previous comment section-->
  <form id="new-comment" class="container d-flex p-1 justify-content-center flex-column border border-light rounded p-2 mb-3">
    <h3 class="text-center">Post a comment</h3>
    <textarea name="comment-body" class="form-control mb-4"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{> comments post.comments}}
</section>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>