<div id="content-wrapper" class="container-fluid d-flex p-2 justify-content-center flex-column">
  <h1 class="text-center">Blog Posts</h1>

  <ul id="post-section" class="container d-flex p-1 justify-content-center flex-column list-unstyled">
    <!--single card start here-->
    <li class="border border-light p-3">
      <!--card title-->
      <div id= "post-title" class="bg-light">
        <h2 class="card-title p-2">
          <a href="/">Title</a>
          </h2>
      </div>
      <!--card content-->
      <div id=" post-content" class="mb-3">
        <p class="card-text">This is an example of the contents of a post. </p>
      </div>
      <!--card footer details-->
      <div id="post-details" class="bg-light d-flex justify-content-between p-2">
        <div class="left-details d-flex align-items-center">
          <p class="card-text"><b>Created By: Username</b></p>
        </div>
        <div class="right-details">
          <p class="card-text"><b>Date created: March 29, 2022</b></p>
        </div>
      </div>
    </li>
  </ul>

</div>